In [140]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [141]:
df = pd.read_csv("clean_social.csv")
df

,id,gender,age,education,profession,workDuration,typeSocial,useSocial,productivity,socialDuration
0,1,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,6
1,2,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,7
2,3,female,24,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
3,4,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,8
4,5,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
5,6,female,28,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,2
6,7,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,4
7,8,male,43,degree,lectural,5 years,"facebook,youtube,tiktok",regulary,no,3
8,9,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
9,10,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,5
10,11,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
11,12,female,32,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
12,13,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,8
13,14,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
14,15,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,yes,2
15,16,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,4
16,17,male,27,degree,officer,7 years,"facebook,youtube,tiktok,snapchat",regulary,no,3
17,18,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
18,19,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,5
19,20,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,yes,6
20,21,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,yes,4
21,22,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,8
22,23,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
23,24,female,45,master,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,2
24,25,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
25,26,male,47,degree,officer,9 years,"facebook,youtube,tiktok,snapchat",regulary,no,3
26,27,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
27,28,female,29,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,5
28,29,male,36,degree,manager,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
29,30,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
30,31,female,34,master,officer,7 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,6
31,32,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,2
32,33,male,29,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,4
33,34,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,3
34,35,female,27,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8
35,36,male,35,master,manager,8 years,"facebook,twitter,youtube",often,yes,5
36,37,male,26,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,no,6
37,38,female,18,degree,officer,3 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,4
38,39,female,25,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,no,8

In [142]:
from sklearn.preprocessing import LabelEncoder

In [143]:
l = LabelEncoder()
df["productivity"] = l.fit_transform(df["productivity"])
df

,id,gender,age,education,profession,workDuration,typeSocial,useSocial,productivity,socialDuration
0,1,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,6
1,2,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,7
2,3,female,24,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
3,4,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,8
4,5,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
5,6,female,28,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,2
6,7,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,4
7,8,male,43,degree,lectural,5 years,"facebook,youtube,tiktok",regulary,0,3
8,9,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
9,10,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,5
10,11,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
11,12,female,32,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
12,13,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,8
13,14,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
14,15,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,1,2
15,16,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,4
16,17,male,27,degree,officer,7 years,"facebook,youtube,tiktok,snapchat",regulary,0,3
17,18,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
18,19,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,5
19,20,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,1,6
20,21,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,1,4
21,22,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,8
22,23,male,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
23,24,female,45,master,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,2
24,25,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
25,26,male,47,degree,officer,9 years,"facebook,youtube,tiktok,snapchat",regulary,0,3
26,27,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
27,28,female,29,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,5
28,29,male,36,degree,manager,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
29,30,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
30,31,female,34,master,officer,7 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,6
31,32,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,2
32,33,male,29,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,4
33,34,female,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,3
34,35,female,27,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
35,36,male,35,master,manager,8 years,"facebook,twitter,youtube",often,1,5
36,37,male,26,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
37,38,female,18,degree,officer,3 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
38,39,female,25,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8

In [144]:
l = LabelEncoder()
df["gender"] = l.fit_transform(df["gender"])
df

,id,gender,age,education,profession,workDuration,typeSocial,useSocial,productivity,socialDuration
0,1,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,6
1,2,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,7
2,3,0,24,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
3,4,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,8
4,5,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
5,6,0,28,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,2
6,7,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,4
7,8,1,43,degree,lectural,5 years,"facebook,youtube,tiktok",regulary,0,3
8,9,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
9,10,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,5
10,11,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
11,12,0,32,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
12,13,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,8
13,14,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
14,15,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,1,2
15,16,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,4
16,17,1,27,degree,officer,7 years,"facebook,youtube,tiktok,snapchat",regulary,0,3
17,18,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
18,19,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,5
19,20,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,1,6
20,21,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,1,4
21,22,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,8
22,23,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
23,24,0,45,master,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,2
24,25,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
25,26,1,47,degree,officer,9 years,"facebook,youtube,tiktok,snapchat",regulary,0,3
26,27,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
27,28,0,29,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,5
28,29,1,36,degree,manager,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
29,30,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
30,31,0,34,master,officer,7 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,6
31,32,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,2
32,33,1,29,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,4
33,34,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,3
34,35,0,27,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8
35,36,1,35,master,manager,8 years,"facebook,twitter,youtube",often,1,5
36,37,1,26,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",regulary,0,6
37,38,0,18,degree,officer,3 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,4
38,39,0,25,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",everytime,0,8

In [145]:
l = LabelEncoder()
df["useSocial"] = l.fit_transform(df["useSocial"])
df

,id,gender,age,education,profession,workDuration,typeSocial,useSocial,productivity,socialDuration
0,1,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,6
1,2,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,0,7
2,3,0,24,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,4
3,4,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,8
4,5,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,0,6
5,6,0,28,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,2
6,7,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,4
7,8,1,43,degree,lectural,5 years,"facebook,youtube,tiktok",2,0,3
8,9,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,8
9,10,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,5
10,11,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,0,6
11,12,0,32,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,4
12,13,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,8
13,14,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,0,6
14,15,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,1,2
15,16,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,4
16,17,1,27,degree,officer,7 years,"facebook,youtube,tiktok,snapchat",2,0,3
17,18,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,8
18,19,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,5
19,20,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,1,6
20,21,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,1,4
21,22,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,8
22,23,1,27,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,0,6
23,24,0,45,master,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,2
24,25,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,4
25,26,1,47,degree,officer,9 years,"facebook,youtube,tiktok,snapchat",2,0,3
26,27,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,8
27,28,0,29,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,5
28,29,1,36,degree,manager,5 years,"facebook,youtube,tiktok,snapchat",2,0,6
29,30,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,4
30,31,0,34,master,officer,7 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,6
31,32,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,2
32,33,1,29,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,0,4
33,34,0,21,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,3
34,35,0,27,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,8
35,36,1,35,master,manager,8 years,"facebook,twitter,youtube",1,1,5
36,37,1,26,degree,officer,5 years,"facebook,youtube,tiktok,snapchat",2,0,6
37,38,0,18,degree,officer,3 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,4
38,39,0,25,degree,officer,4 years,"facebook,twitter,linkedin,tiktok,snapchat,yout...",0,0,8

In [146]:
l = LabelEncoder()
df["typeSocial"] = l.fit_transform(df["typeSocial"])
df

,id,gender,age,education,profession,workDuration,typeSocial,useSocial,productivity,socialDuration
0,1,1,35,master,manager,8 years,1,1,1,6
1,2,1,27,degree,officer,5 years,3,2,0,7
2,3,0,24,degree,officer,4 years,0,0,0,4
3,4,1,35,master,manager,8 years,1,1,1,8
4,5,1,27,degree,officer,5 years,3,2,0,6
5,6,0,28,degree,officer,4 years,0,0,0,2
6,7,1,35,master,manager,8 years,1,1,1,4
7,8,1,43,degree,lectural,5 years,2,2,0,3
8,9,0,21,degree,officer,4 years,0,0,0,8
9,10,1,35,master,manager,8 years,1,1,1,5
10,11,1,27,degree,officer,5 years,3,2,0,6
11,12,0,32,degree,officer,4 years,0,0,0,4
12,13,1,35,master,manager,8 years,1,1,1,8
13,14,1,27,degree,officer,5 years,3,2,0,6
14,15,0,21,degree,officer,4 years,0,0,1,2
15,16,1,35,master,manager,8 years,1,1,1,4
16,17,1,27,degree,officer,7 years,3,2,0,3
17,18,0,21,degree,officer,4 years,0,0,0,8
18,19,1,35,master,manager,8 years,1,1,1,5
19,20,1,27,degree,officer,5 years,3,2,1,6
20,21,0,21,degree,officer,4 years,0,0,1,4
21,22,1,35,master,manager,8 years,1,1,1,8
22,23,1,27,degree,officer,5 years,3,2,0,6
23,24,0,45,master,officer,4 years,0,0,0,2
24,25,0,21,degree,officer,4 years,0,0,0,4
25,26,1,47,degree,officer,9 years,3,2,0,3
26,27,0,21,degree,officer,4 years,0,0,0,8
27,28,0,29,degree,officer,4 years,0,0,0,5
28,29,1,36,degree,manager,5 years,3,2,0,6
29,30,0,21,degree,officer,4 years,0,0,0,4
30,31,0,34,master,officer,7 years,0,0,0,6
31,32,1,35,master,manager,8 years,1,1,1,2
32,33,1,29,degree,officer,5 years,3,2,0,4
33,34,0,21,degree,officer,4 years,0,0,0,3
34,35,0,27,degree,officer,4 years,0,0,0,8
35,36,1,35,master,manager,8 years,1,1,1,5
36,37,1,26,degree,officer,5 years,3,2,0,6
37,38,0,18,degree,officer,3 years,0,0,0,4
38,39,0,25,degree,officer,4 years,0,0,0,8

In [161]:
df.drop(columns=["education","profession","workDuration"],axis=1)

    id  gender  age  typeSocial  useSocial  productivity  socialDuration
0    1       1   35           1          1             1               6
1    2       1   27           3          2             0               7
2    3       0   24           0          0             0               4
3    4       1   35           1          1             1               8
4    5       1   27           3          2             0               6
5    6       0   28           0          0             0               2
6    7       1   35           1          1             1               4
7    8       1   43           2          2             0               3
8    9       0   21           0          0             0               8
9   10       1   35           1          1             1               5
10  11       1   27           3          2             0               6
11  12       0   32           0          0             0               4
12  13       1   35           1          1             1               8
13  14       1   27           3          2             0               6
14  15       0   21           0          0             1               2
15  16       1   35           1          1             1               4
16  17       1   27           3          2             0               3
17  18       0   21           0          0             0               8
18  19       1   35           1          1             1               5
19  20       1   27           3          2             1               6
20  21       0   21           0          0             1               4
21  22       1   35           1          1             1               8
22  23       1   27           3          2             0               6
23  24       0   45           0          0             0               2
24  25       0   21           0          0             0               4
25  26       1   47           3          2             0               3
26  27       0   21           0          0             0               8
27  28       0   29           0          0             0               5
28  29       1   36           3          2             0               6
29  30       0   21           0          0             0               4
30  31       0   34           0          0             0               6
31  32       1   35           1          1             1               2
32  33       1   29           3          2             0               4
33  34       0   21           0          0             0               3
34  35       0   27           0          0             0               8
35  36       1   35           1          1             1               5
36  37       1   26           3          2             0               6
37  38       0   18           0          0             0               4
38  39       0   25           0          0             0               8

In [162]:
x = df[["useSocial","socialDuration","typeSocial"]]
y = df["productivity"]

In [163]:
from sklearn.model_selection import train_test_split

In [164]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.9,random_state=0)

In [165]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [166]:
pred = lr.predict(x_test)
pred

array([1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1])

In [167]:
from sklearn.metrics import  accuracy_score
accuracy_score(pred,y_test)

0.4722222222222222